<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="24.3.0" targetFramework="net452" />
  <package id="FluentAssertions" version="5.4.2" targetFramework="net452" />
  <package id="NUnit" version="3.9.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.7.0" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net452" />
  <package id="RandomNameGeneratorLibrary" version="1.2.2.0" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.19.1" targetFramework="net452" />
  <package id="Selenium.Support" version="3.9.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.9.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.35.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
</packages>